@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Kanit:wght@400;500&family=Roboto&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #efefef95;
}

/*Menu cabeçalho*/

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 100px;
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.158);
}

header .menu {
    display: flex;
    justify-content: flex-end;

}

.menu a {

    text-decoration: none;
    padding: 5px;
    margin: 3px 40px;
    font: normal 400 16px 'Kanit', sans-serif;
    color: black;
    cursor: pointer;
    width: 100%;
}

.menu a:hover {
    color: rgba(55, 55, 55, 0.242);
}

/*Configuração do carrousel*/

.swiper-button-next:after,
.swiper-button-prev:after {
    color: black;
}

/*Configuração padrão para as section*/

main .introducao-produto {

    display: flex;
    height: 800px;
    padding: 20px;
    margin: 20px 0px;
    align-items: center;
    justify-content: space-evenly;
}

/*Primeira section falando sobre a inspiração do produto*/

#introducao-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #efefef95;
}

/*Article com texto introdutivo e um botão que direciona para a pagina sobre*/

#introducao-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;


}

#introducao-text div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 550px;
    height: 100%;
}

.titulo-paginas {
    font: normal 40px 'Bowlby One SC', sans-serif;
    text-align: center;
    color: #BD0000;
}

#introducao-1 h2 {
    font: normal 25px 'Bowlby One SC', sans-serif;
    text-align: center;
}

.veja-sobre {
    padding: 5px;
    width: 110px;
    height: 45px;
    border: 1px solid red;
    background-color: #BD0000;
    font: normal 14px 'Bowlby One SC', cursive;
    color: #fff;
    cursor: pointer;
    margin: 20px;
}

.veja-sobre:hover {

    background-color: #ff2d2d;

}


#introducao-1 aside {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#introducao-1 a {
    font: normal bold 16px sans-serif;
    color: black;
}

#introducao-1 a:hover {
    color: rgba(58, 57, 57, 0.514);
}


/*Segunda introdução do produto*/


#section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0px;
    padding: 0px;
    background-image: url(imagens/background-section2.jpg);
    background-size: cover;

}

#section-2 h1 {
    font: normal 40px 'Bowlby One SC', sans-serif;
    text-align: center;
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 50px;

}

#section-jordans {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
    margin-bottom: 0px;
}


.description-snkrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 250px;
    height: 90%;
    margin: 10px;

}


.description-snkrs img {
    width: 100%;
}


.description-snkrs p {
    margin: 30px 0px;
    color: #fffdfd;
    height: 50px;
    font: normal 400 16px 'Kanit', sans-serif;
}

#jordan-mid {
    background-color: #BD0000;
}

#true-blue {
    background-color: #006EFF;
}

#reverse-laney {
    background-color: #e8bf00;
}

footer {

    padding: 20px;
    height: 100px;
    background-color: black;
    color: #FFFF;
    text-align: center;
}


/*Página sobre*/


.sobre {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 80px;
}


.sobre div {
    padding: 10px;
}

#sobre-text {
    width: 650px;
    text-align: center;
}

#sobre-text h2 {
    text-align: center;
    font: normal 35px 'Bowlby One SC', sans-serif;
}

#sobre-text p {

    font: normal 400 23px 'Kanit', sans-serif;
    padding: 10px;

}

#sobre-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}



table {
    width: 80%;
    height: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.219);
    margin: auto;
}

caption {
    padding: 50px;
    font: normal 35px 'Bowlby One SC', sans-serif;
}

th {
    font: normal 20px 'Bowlby One SC', sans-serif;
    color: #ff0000;
    padding: 20px;
}

td {
    font: normal 18px 'Bowlby One SC', sans-serif;
    color: rgb(0, 0, 0);

    border: 3px solid rgba(0, 0, 0, 0.721);
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}



/*GALERIA*/


#galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}


#imagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

#imagens div {
    width: 200px;
    height: 250px;
}

#imagens img {
    width: 100%;
}

/*Contato*/

#contato{
    height: 100vh;
    width: 600px;
    margin: auto; 
    display: flex;
    align-items:flex-start;
    justify-content: center;
    font: normal 400 23px 'Kanit', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    background-color: rgb(193, 193, 193);
    padding: 50px;

}

textarea{
    width: 100%;
    height: 190px;
    margin-top: 5px;
    padding: 15px;
    font-size: 16px;
}


.texto{
    width: 350px;
    height: 25px;
    padding: 3px;
    margin: 15px;
}


