@{
    ViewData["Title"] = "Primeiro Projeto MVC";
}

<div class="text-center">
    <h1 class="display-4">Criando o primeiro projeto MVC</h1>
    <p>Nessa aula vamos aprender a sobre manipulção, controles e views</p>
</div>
